.container{
  position: fixed;
  right: 20px;
  bottom:50px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.855);
  border-radius: 50%;
  box-shadow: 4px 4px 25px rgba(0,0,0,1);
  display: none;
}
.line{
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 3px;
}

@media (max-width: 950px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}