.container{
  width: 90%;
  height: 50px;
  display: flex;
  margin: 0 0 30px 0;
  align-items: center;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: rgb(28,41,71,1);
  box-shadow: 4px 4px 20px rgb(28,41,71,1);
}
.selects{
  height: 50px;
  padding: 8px;
  border:none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(28,41,71,1);
  color:white;
  font-weight: bold;
  cursor: pointer;
}
.all{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(28,41,71,1);
  color:white;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:950px){
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    box-shadow: 0 0 0;
    top: 32%;
    left: 0;
  }
  .selects{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-bottom: solid 1px white;
    width: 90%;
    text-align: center;
    border-radius: 0;
    background-color: black;
  }
  .all{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-bottom: solid 1px white;
    width: 90%;
    text-align: center;
    border-radius: 0;
    background-color: black;
    margin-bottom: 5px;
  }
}